{% extends 'base.html' %}
{% block content %}
    <!-- {% for post in posts %}
        {{post.title}}
    {% endfor %} -->
<div class="container">
    <div class="row">
        <h1 class="display-4">{{user}}'s Blog</h1>
    </div>
    <div class="row">
        <div class="col-12">
            {% for post in posts %}
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'posts:detail' pk=post.id %}">{{ post.title }}</a>
                        <br />
                        <p>{{ post.content|slice:"255" }}{% if post.content|length > 255 %} ...{% endif %}</p>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}